.root {
  position: relative;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  align-items: flex-start;
  background-color: #fff;
  overflow: hidden;
}
.rectangle4 {
  position: absolute;
  left: 0;
  top: 1016px;
  width: 1440px;
  height: 64px;
  background-color: #333;
}
._2023UNTRides {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 659px;
  top: 1036px;
  width: 151px;
  height: 24px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.backgroundImage {
  opacity: 0.9;
  transform-origin: top left;
  position: absolute;
  left: 0;
  top: 1016px;
  width: 905px;
  height: 1440px;
  background-image:/* webpackIgnore: true */ url('assets/backgroundImage.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: matrix(0, -1, 1, 0, 0, 0);
}
.dashboardUserInteraction {
  position: absolute;
  left: 125px;
  top: 212px;
  width: 1188px;
  height: 655px;
  outline: solid 1px #000;
  outline-offset: -1px;
  border-radius: 10px;
  background-color: #e2e2e2;
  box-shadow: 0px 4px 4px 0px #00000040;
}
.miniNavBorder {
  position: absolute;
  left: 125px;
  top: 211px;
  width: 1188px;
  height: 87px;
  border-radius: 10px 10px 0 0;
  background-color: #333;
}
.availableRidesCreateRideOfferM {
  position: absolute;
  left: 810px;
  top: 251px;
  width: 437px;
  height: 42px;
  justify-content: center;
  flex-direction: column;
}
.labelWrapper {
  font-size: 18px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  flex-shrink: 1;
}
.label {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.label2 {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-decoration: underline;
}
.label3 {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.rectangle8 {
  position: absolute;
  left: 153px;
  top: 238px;
  width: 237px;
  height: 34px;
  border-radius: 10px;
  background-color: #d9d9d9;
}
.searchRides {
  color: #7e7e7e;
  font-size: 16px;
  font-weight: bold;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 153px;
  top: 241px;
  width: 123px;
  height: 31px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.rectangle20 {
  position: absolute;
  left: 476px;
  top: 339px;
  width: 488px;
  height: 53px;
  outline: solid 1px #000;
  outline-offset: -1px;
  background-color: #fff;
}
.rectangle21 {
  position: absolute;
  left: 476px;
  top: 418px;
  width: 488px;
  height: 53px;
  outline: solid 1px #000;
  outline-offset: -1px;
  background-color: #fff;
}
.rectangle22 {
  position: absolute;
  left: 475px;
  top: 497px;
  width: 488px;
  height: 53px;
  outline: solid 1px #000;
  outline-offset: -1px;
  background-color: #fff;
}
.rectangle23 {
  position: absolute;
  left: 475px;
  top: 576px;
  width: 488px;
  height: 53px;
  outline: solid 1px #000;
  outline-offset: -1px;
  background-color: #fff;
}
.rectangle24 {
  position: absolute;
  left: 476px;
  top: 655px;
  width: 488px;
  height: 53px;
  outline: solid 1px #000;
  outline-offset: -1px;
  background-color: #fff;
}
.rectangle25 {
  position: absolute;
  left: 633px;
  top: 734px;
  width: 173px;
  height: 53px;
  outline: solid 1px #000;
  outline-offset: -1px;
  border-radius: 10px;
  background-color: #00853e;
}
.availableSeats {
  color: #9c9b9b;
  font-size: 16px;
  font-weight: bold;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 475px;
  top: 655px;
  width: 486px;
  height: 55px;
  justify-content: center;
  flex-direction: column;
}
.date {
  color: #9c9b9b;
  font-size: 16px;
  font-weight: bold;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 475px;
  top: 576px;
  width: 486px;
  height: 55px;
  justify-content: center;
  flex-direction: column;
}
.destination {
  color: #9c9b9b;
  font-size: 16px;
  font-weight: bold;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 476px;
  top: 496px;
  width: 486px;
  height: 55px;
  justify-content: center;
  flex-direction: column;
}
.terminal {
  color: #9c9b9b;
  font-size: 16px;
  font-weight: bold;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 475px;
  top: 418px;
  width: 486px;
  height: 55px;
  justify-content: center;
  flex-direction: column;
}
.name {
  color: #9c9b9b;
  font-size: 16px;
  font-weight: bold;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 477px;
  top: 337px;
  width: 486px;
  height: 55px;
  justify-content: center;
  flex-direction: column;
}
.navBarRectangle {
  position: absolute;
  left: 0;
  top: 0;
  width: 1440px;
  height: 111px;
  outline: solid 1px #000;
  outline-offset: -1px;
  background-color: #000;
}
.profileSignOut {
  color: #fff;
  font-size: 20px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1221px;
  top: 32px;
  width: 184px;
  height: 45px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.uNTRidesLogo1 {
  position: absolute;
  left: 93px;
  top: 13px;
  width: 158px;
  height: 85px;
  background-image:/* webpackIgnore: true */ url('assets/uNTRidesLogo1.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.submitRideOffer {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 641px;
  top: 736px;
  width: 165px;
  height: 51px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
